// Form elements

input[type=text], input[type=email]
	background: #EDEDED;
	border-radius: 3px 3px 0 0;
	border none
	border-bottom 2px solid #CDCDCD
	font-size: 22px;
	color: #111111;
	letter-spacing: -0.28px;
	line-height: 36px;
	padding 6px 0 4px 1rem
	// width 100%
	&:focus
		outline none
		border-bottom 2px solid #0000EE
		
input[type=submit]
	background-color #0000EE
	border none
	color #fff
	font-size: 22px
	line-height: 36px
	font-weight 700
	border-radius: 3px;
	padding 5px 24px 7px
	max-width 275px
	cursor pointer