// Google fonts
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600&display=swap');

*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

body
  font-family: 'Barlow';
  color #000
  // font-size: 24px;
  font-size 1.5rem
  line-height 1.666666667
  letter-spacing -0.0125em
  @media screen and (max-width: 800px)
    font-size 1.25rem

h1, h2, h3, h4, h5, h6
  color #000
  font-weight 600

a:not(.project-card),
.link
  text-decoration none
  color inherit
  position relative
  white-space nowrap
  &:before
    content ""
    position absolute
    left 0
    bottom -0.0833em
    background-color #FFDB17
    height 0.41666em
    width 70%
    z-index -1
    transform rotate(-2deg)
    transition all 0.1s ease
    transform-origin: 0% 0%;
  &:hover
    &:before
      width 100%
      
p 
  margin-top 0
  margin-bottom 3rem
  margin-left 0
  margin-right 0
  b
    font-weight 600

h1
  font-size 3rem
  line-height 1.333333
  margin 0
  letter-spacing -0.0125em
  
.h2
  font-size 2rem
  line-height 1.25
  // margin 0
  
.h3
  font-size 1.5rem
  line-height 1.666666667
  margin-top 4rem
  margin-bottom 0.5rem
  





// h1 {
//   font-size 36px
//   letter-spacing -0.00625em
//   margin 0 0 12px 0
//   line-height 48px
// }

// h2 {
//   font-size 30px
//   line-height 1.4
//   margin 72px 0 6px 0 
// }

// h3 {
//   font-size 22px
//   line-height: 36px;
//   margin 36px 0 0 0
// }

// p, ul, a {
//   font-size 22px
//   line-height 1.636363636
//   font-weight 500
//   margin 0px 0 6px 0
//   // font-size 1.5rem
//   // font-size 1.375rem
//   // line-height 1.666666667
//   letter-spacing -0.014em
//   // font-size: 22px;
//   // color: #111111;
//   // text-shadow: 2px 1px 0 0 #FFFFFF, -2px -1px 0 0 #FFFFFF, -1px -1px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
//   // text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff, -2px -1px 0px #fff, 2px -1px 0px #fff;
//   // https://codepen.io/ghepting/pen/tLnHK/

// }

// p, ul {
//   // margin-top 0
//   // margin-bottom 0.5rem
// }

// ul {
//   list-style-position: inside;
//   margin-top 12px
// }

// a
//   color: #0000EE
  
// p a, .link {
//   // text-decoration-skip: ink;
//   // text-decoration-skip-ink: auto
//   margin 0
//   letter-spacing -0.025em
//   text-decoration none
//   // position relative
//   // &:before {
//   //   content ""
//   //   position absolute
//   //   background-color inherit
//   //   bottom 3px
//   //   left 0
//   //   width 100%
//   //   height 1px
//   //   transition all 0.2s ease
//   // }
  
//   &:hover {
//     text-decoration underline
//     // &:before {
//     //   background-color rgba(#0000EE, 0.8)
//     //   bottom 1px
//     // }
//   }
// }

// .credits
//   h3
//     margin-bottom 6px
//   p
//     font-size 18px
//     margin 0
//   a
//     color inherit
//     font-size 18px
//     &:before
//       background-color rgba(#777, 0.8)
//       bottom 1px


