// Grid
@import "../node_modules/rupture/rupture"

.grid
  display grid
  grid-column-gap 16px
  +below(1328px)
    grid-column-gap 1.2048193%
  grid-row-gap 0
  grid-template-columns: minmax(0px, 1fr) repeat(24, minmax(0px, 40px)) minmax(0px, 1fr)
  justify-content: center;
  > *
    grid-column 8 / -8
    position relative
    +below(1140px)
      grid-column 7 / -7
    +below(930px)
      grid-column 6 / -6
    +below(720px)
      grid-column 5 / -5
    +below(480px)
      grid-column 4 / -4

.normal-width
  grid-column 8 / -8
  +below(1140px)
    grid-column 7 / -7
  +below(930px)
    grid-column 6 / -6
  +below(720px)
    grid-column 5 / -5
  +below(480px)
    grid-column 4 / -4
      
.grid-inner
  display grid
  grid-column-gap 16px
  +below(1328px)
    grid-column-gap 1.2048193%
  grid-row-gap 0
  grid-template-columns: repeat(24, minmax(0px, 40px))
  justify-content: center;
  grid-auto-flow dense
  > *
    grid-column 7 / -7
    +below(1140px)
      grid-column 6 / -6
    +below(930px)
      grid-column 5 / -5
    +below(720px)
      grid-column 4 / -4
    +below(480px)
      grid-column 3 / -3

.project-width
  grid-column 4 / -4
  +below(480px)
    grid-column 3 / -3
    
.photo-width
  grid-column 5 / -5
  +below(480px)
    grid-column 4 / -4

.full-width
  grid-column 1 / -1

for num in (1..27)
  .gcs{num}
    grid-column-start: num
  .span{num}
    grid-column-end: span num
  .g{num}-{num}
    grid-column-start: num
    grid-column-end: - num
  .gin{num}-{num}
    > *
      grid-column-start: num
      grid-column-end: - num
