// Layout

#_saber
  overflow hidden
  background-color var(--page-bgc)

figure
  margin-top 1rem

figure + p
  margin-top 1rem
  
.conclusion
  margin-top 4rem
  padding-bottom 2rem
  background-color var(--conclusion-bg)

.next-project
  margin-top: 0.5rem;
  
hr.gradient
  width: 100%;
  position: relative;
  border: none;
  overflow: visible;
  margin-top: 4rem;
  margin-bottom: 0;
  &:before
    content ""
    display block
    position absolute
    width 100vw
    left 50%
    top: 0;
    transform translateX(-50%)
    height 500px
    background-image: linear-gradient(180deg, #EDF1F3 0%, rgba(#fff, 0) 100%);
    // z-index -1

// ---------------------------------------------------------  
// .text-width,
// .text-width-each > *,
// .project-width,
// .project-width-each > *,
// .title-width,
// .title-width-each > *
//   // padding-left 1rem
//   // padding-right 1rem
//   margin-left auto
//   margin-right auto
//   width 100%

// .text-width,
// .text-width-each > *  
//   max-width calc(656px + 2rem)
  

// .title-width,
// .title-width-each > *
//   max-width calc(880px + 2rem)
  
// .photo-width,
// .photo-width-each > *
//   max-width calc(992px + 2rem)

// .project-width,
// .project-width-each > *
//   max-width calc(1104px + 2rem)

// .full-width,
// .full-width-each > *
//   max-width 100%
//   width 100%  

// .img-fix img
//   // display: flex;
//   vertical-align: bottom;
//   font-size: 0;
//   line-height: 0;

// ---------------------------------------------------------
  
// article
//   // padding 0 1rem

// .grid
//   display grid
//   grid-column-gap 16px
//   // grid-column-gap 0.625%
//   grid-row-gap 0
//   // grid-template-columns: minmax(0px, 1fr) repeat(24, minmax(0px, 40px)) minmax(0px, 1fr)
//   grid-template-columns: repeat(24, minmax(0px, 40px))
//   justify-content: center;
//   grid-auto-flow dense
//   // align-items: end;
//   // margin 0
//   // background-color #ffa
//   // overflow hidden
  
//   > *
//     grid-column 7 / -7
//     // z-index 1
//     //   // grid-row 1/-1
      
//   // @media screen and (max-width: 800px)
//   //   grid-column-gap 0
//   //   > *
//   //     grid-column 3 / -3
//   //     grid-column-gap 0.625%
    
// .g
//   display grid
//   grid-row-gap 0
//   grid-template-columns: repeat(24, minmax(0px, 40px))
//   justify-content: center;
//   grid-auto-flow dense
//   grid-column-gap 1.625%
  
//   // Above 1280
//   @media screen and (min-width: 1280px)
//     // background-color #aaf
  
//   // Above 1328px
//   @media screen and (min-width: 1328px)
//     // background-color #aaf
//     grid-column-gap 16px
//     // grid-column-gap 0.625%
  
//   > *
//     grid-column 7 / -7


// // All combinations for grid-column-start and grid-column-end: span x
// for num in (1..24)
//   .gcs{num}
//     grid-column-start: num
//   .span{num}
//     grid-column-end: span num
//   .g{num}-{num}
//     grid-column-start: num
//     grid-column-end: - num
//   .gin{num}-{num}
//     > *
//       grid-column-start: num
//       grid-column-end: - num

// .grid-width
//   grid-column 3/ -3 !important

// .full-width
//   // grid-column 1/ -1 !important
//   width 100vw
//   position relative
//   left 50%
//   transform translateX(-50%)

// .content-width
//   grid-column 7/ -7
  
// figure
//   margin 0.5rem 0 1.5rem
  
// p + figure 
//   margin-top 2rem
  
// figure + h2,
// figure + h3
//   margin-top 3rem
  
// figure + div
//   margin-top 1.5rem
  
// .conclusion
//   // background-color #EEF2F3
//   margin-top 5rem
//   // border-top 2px solid #F0F0F0
  
// .next-project
//   padding-top: 1rem;
//   padding-bottom: 4rem;
  
// .credits
//   ul
//     list-style none
//     padding 0
//     font-size 1.25rem
//     a:before
//       transform rotate(0deg)
//       height 0.2em
//     // line-height 1.5
  
// .center
//   margin-left auto
//   margin-right auto
  
// .gradient
//   position relative
//   // margin-top 4rem
//   padding-top 5rem
//   z-index 2
//   &:before
//     content ""
//     display block
//     position absolute
//     width 100vw
//     left 50%
//     transform translateX(-50%)
//     height 500px
//     // border-top 2px solid #DCE2E6
//     background-image: linear-gradient(180deg, #EDF1F3 0%, rgba(#fff, 0) 100%);
//     z-index -1
  

// .content > *:first-child
//   margin-top 0

// .content
//   padding-top 3rem
//   padding-bottom 4rem
//   background-color var(--content-bgc)
  
// .page-enter-active, .page-leave-active
//   transition: opacity 0.2s
//   // filter: blur(10px);
  
// .page-enter,.page-leave-to
//   opacity: 0
//   // filter: blur(0px);
    
// // .nw, .pw, .ew, .ww, .title-width
// //   padding-left: 1rem;
// //   padding-right: 1rem;
  
// // .nw
// //   max-width: 688px;
// // .pw
// //   max-width: 1136px;
// // .ew
// //   max-width 798px
// // .ww
// //   max-width 1136px



// // .page-header
// //   --page-header-bgc:#fff
// //   --page-header-border-color: #fff
// //   background-color var(--page-header-bgc)
// //   border-bottom 2px solid var(--page-header-border-color)


