@css {
  @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800&display=swap');
  :root {
    --underlineColor: #FFDB17;
    --text-color: #111;
    --heading-color: #000;
    --page-header-bgc: linear-gradient(38deg, #FFFFFF 19%, #F8F8F8 54%, #F8F8F8 100%);
    --page-header-border-color: #E6DFDC;
    --content-bgc: transparent;
    --conclusion-bg: transparent;
  }
}
